body {
  font: bold 14px/18px Arial, sans-serif;
}
.container {
  display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px auto 100px;
}
.container > * {
  padding: 20px;
}
.header {
  background: #d7d7d7;
  grid-column: 1/3;
}
.section {
  display: grid;
  background: #ffeabf;
  text-align: center;
  grid-template-rows: auto max-content;
}
.section__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 80px;
  grid-gap: 20px;
}
.section__column {
  height: 80px;
  background: #fee683;
}
.section__column--full-width {
  grid-column: 1/3;
}
.aside {
  background: #d2eba2;
  text-align: center;
}
.footer {
  display: grid;
  background: #d7d7d7;
  grid-column: 1/3;

  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.footer__item {
  background: #faf5e2;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
